<section>
  <p-dialog [(visible)]="showDialog" [style]="{width: '35vw'}" [modal]="true" [header]="creationMode ? 'Create book' : 'Update book'">
    <ng-template pTemplate="content">
      <div class="p-grid p-fluid">
        <h3>Title</h3>
        <input pInputText type="text" [(ngModel)]="newBookTitle"/>
        <div class="modal-button">
          <button type="button" [disabled]="!(newBookTitle.length > 0)"  pButton icon="pi pi-check" (click)="creationMode ? createBook() : updateBook()" label="Save"></button>
        </div>
      </div>
    </ng-template>
  </p-dialog>  
  <div class="tree" #tree>
    <p-tree #tree class="w-full" selectionMode="single" [(selection)]="selectedNode" [value]="books"></p-tree>
  </div>
  <p-contextMenu [target]="tree" [model]="menu"></p-contextMenu>
</section>